ion-content {
  display: flex;
  flex-direction: column;
}

pd-map {
  flex-grow: 1;
  flex-basis: 1px;
}

ion-footer {
  background-color: #fff;

  h3 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    td {
      padding: 5px;
    }
    th {
      padding-top: 5px;
      font-size: 8pt;
      font-weight: normal;
      text-align: left;
    }

    th.delay,
    td.delay {
      width: 80px;
    }
    td.delay {
      white-space: nowrap;
    }
  }
}
