<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="light"> PragueDash </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/card/add" color="light">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button color="light" routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-slides [pager]="pages.length > 1">
    <ion-slide *ngFor="let page of pages">
      <app-dash-card *ngFor="let cardData of page.cards" [card]="cardData" [routerLink]="'/card/' + cardData.id + '/settings'"> </app-dash-card>
    </ion-slide>
  </ion-slides> -->
  <app-dash-card *ngFor="let cardData of cards | async" [card]="cardData" [routerLink]="'/card/' + cardData.id + '/settings'"> </app-dash-card>
</ion-content>
