<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="light"> PragueDash </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/dash/add" color="light">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button color="light" routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <app-dash-card *ngFor="let cardData of cards" [card]="cardData" (click)="openDetail(cardData)"> </app-dash-card>
</ion-content>
