.color-green {
  background-color: #05a567;
}

.color-red {
  background-color: #ce033c;
}

.color-brown {
  background-color: rgb(107, 51, 4);
}

.color-grey {
  background-color: #666;
}

.color-yellow {
  background-color: #f9b121;
}

.is_substitute_transport {
  color: #f9b121;
}

.color-black {
  background-color: #111;
}
