<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="light" mode="md"> PragueDash </ion-title>
    <ion-buttons slot="primary">
      <ion-button id="add-button" color="light">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-popover trigger="add-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item
                *ngIf="currentPage"
                [routerLink]="'/page/' + currentPage.id + '/add'"
                [button]="true"
                [detail]="false"
              >
                <ion-label>Přidat kartu</ion-label>
                <ion-icon name="add-outline"></ion-icon>
              </ion-item>
              <ion-item [button]="true" [detail]="false" (click)="addPage()">
                <ion-label>Přidat stránku</ion-label>
                <ion-icon name="reader-outline"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-button color="light" routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content *ngIf="dashboard && dashboard.pages.length === 1">
  <ion-refresher slot="fixed" [disabled]="!enableRefresh" (ionRefresh)="doRefresh($event, dashboard.pages[0])">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="page">
    <div class="cards" (scroll)="onCardsScroll()">
      <pd-dash-card
        *ngFor="let cardData of dashboard.pages[0]?.cards"
        [card]="cardData"
        (click)="openDetail(cardData)"
      >
      </pd-dash-card>
    </div>
  </div>
</ion-content> -->

<ion-content>
  <ion-refresher slot="fixed" [disabled]="!enableRefresh" (ionRefresh)="doRefresh($event, currentPage!)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <swiper-container
    #swiper
    [config]="swiperConfig"
    (swiperobserverpdate)="updateState()"
    (swiperactiveindexchange)="updateState()"
  >
    @for (page of dashboard?.pages; track page.id) {
      <swiper-slide>
        <div class="page">
          @if (dashboard!.pages.length > 1) {
            <div class="title" data-swiper-parallax="70%" data-swiper-parallax-opacity="0">
              {{ page.title || "Hlavní" }}
            </div>
          }

          <div class="cards" (scroll)="onCardsScroll()">
            @for (cardData of page.cards; track cardData.id) {
              <div class="card">
                <pd-dash-card [card]="cardData"></pd-dash-card>
              </div>
            }
          </div>
        </div>
      </swiper-slide>
    }
  </swiper-container>
</ion-content>
