<ion-card>
  <ion-card-header>
    <ion-card-title class="name">
      <div class="header-container">
        <h3>{{ getContainerTypeTitle(type, lang) }}</h3>
        <pd-circle-chart *ngIf="type.occupancy !== null" [percentage]="type.occupancy"></pd-circle-chart>
      </div>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <pd-chartsjs-chart
      *ngIf="type.occupancy !== null"
      type="line"
      [data]="chartData"
      [options]="chartOptions"
    ></pd-chartsjs-chart>

    <p *ngIf="type.occupancy === null">Bez senzoru</p>

    <p>
      Plán svozu: {{ parseCleaningFrequency(type.cleaning_frequency, lang) }} ({{ type.cleaning_frequency.pick_days }})
    </p>
    <p>Příští svoz: {{ type.cleaning_frequency.next_pick | date : "d. M." }}</p>
    <p>Datum posledního měření: {{ type.last_measurement | date : "d. M. v H:mm" }}</p>
  </ion-card-content>
</ion-card>
