<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Upravit nástěnku</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label><h1>Stránky</h1></ion-label>
    <ion-button *ngIf="!sortPages" slot="end" fill="clear" (click)="sortPages = !sortPages">Seřadit</ion-button>
    <ion-button *ngIf="sortPages" slot="end" fill="clear" (click)="sortPages = !sortPages">Hotovo</ion-button>
  </ion-item>
  <ion-reorder-group [disabled]="!sortPages" (ionItemReorder)="onReorder($any($event))">
    <ion-item *ngFor="let page of dashboard?.pages" [detail]="!sortPages" (click)="onPageClick(page)">
      <ion-label>{{ page.title }}</ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
</ion-content>
