table {
  tr.at-stop {
    font-weight: bold;
  }

  td.route {
    width: 3rem;
  }
  td.departure {
    width: 3.5rem;
    text-align: right;
  }
  td.delay {
    font-size: 0.7em;
    width: 3rem;
    text-align: right;
  }
}
