<pd-card [routerLink]="['/public-transport/departure-boards/card', card.id, 'detail']">
  <pd-card-title>
    🚏 {{ name || "Načítám..." }}
    <ion-icon *ngIf="!card.definition.name" name="locate"></ion-icon>
  </pd-card-title>

  <pd-card-content>
    <table *ngIf="!loading && departureBoard" class="card-table">
      <tr *ngFor="let departure of departureBoard.departures" [class.at-stop]="departure.trip.is_at_stop">
        <td class="route">
          <pd-route-badge [departure]="departure"></pd-route-badge>
        </td>

        <td class="headsign">
          {{ departure.trip.headsign }}
          <ng-container *ngIf="card.definition.showWheelchairAccessible && departure.trip.is_wheelchair_accessible"
            >&nbsp;♿</ng-container
          >
        </td>

        <td class="departure">
          {{ departure | departureTime: card.definition }}
        </td>

        <td class="delay">
          <ion-text [color]="departure | departureDelayColor">{{
            departure | departureDelay: card.definition
          }}</ion-text>
        </td>
      </tr>
    </table>

    <p *ngIf="!loading && !departureBoard">Pro zastávku {{ name }} nebyly nalezeny žádné odjezdy.</p>

    <table *ngIf="loading" class="card-table">
      <tr *ngFor="let departure of loadingDepartures">
        <td class="route"><ion-badge color="light">&nbsp;</ion-badge></td>
        <td class="headsign"><ion-skeleton-text></ion-skeleton-text></td>
        <td class="departure"><ion-skeleton-text></ion-skeleton-text></td>
        <td class="delay"><ion-skeleton-text></ion-skeleton-text></td>
      </tr>
    </table>
  </pd-card-content>
</pd-card>
