h3 {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
  ion-badge {
    vertical-align: middle;
  }
}
table {
  tr.at-stop {
    font-weight: bold;
  }

  td.route {
    width: 3rem;
  }
  td.departure {
    width: 3rem;
    text-align: right;
  }
  td.delay {
    font-size: 0.7em;
    width: 3rem;
    text-align: right;
  }
}
