h3 {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
  ion-badge {
    vertical-align: middle;
  }
}

.departure.is-cancelled {
  .headsign,
  .departureTime {
    text-decoration: line-through;
  }
}

.departure.at-stop {
  font-weight: bold;
}
