<ion-header>
  <ion-toolbar>
    <ion-back-button
      [defaultHref]="card ? '/public-transport/departure-boards/card/' + card.id + '/detail' : '/'"
      slot="start"
    ></ion-back-button>
    <ion-title>Nastavení</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="card && definition">
    <ion-item-divider>
      <ion-label>Zobrazení</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-input
        label="Počet spojů"
        labelPlacement="stacked"
        type="number"
        min="1"
        max="20"
        [(ngModel)]="definition.limit"
        (ngModelChange)="save()"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="definition.showWheelchairAccessible" (ngModelChange)="save()">
        Označení nízkopodlažních spojů
      </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="definition.showAirConditioned" (ngModelChange)="save()">
        Označení klimatizovaných spojů
      </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="definition.addDelay" (ngModelChange)="save()"> Započítat zpoždění do času </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-select
        label="Zobrazení času"
        labelPlacement="stacked"
        [(ngModel)]="definition.timeDisplay"
        (ngModelChange)="save()"
      >
        <ion-select-option value="time">Čas odjezdu</ion-select-option>
        <ion-select-option value="remaining">Počet minut</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="definition?.name && stop?.platforms?.length">
    <ion-item-divider>
      <ion-label>Výběr nástupišť</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-toggle [(ngModel)]="definition.allPlatforms" (ngModelChange)="save()">Všechna nástupiště</ion-toggle>
    </ion-item>

    <ion-item *ngFor="let platform of stop!.platforms" [disabled]="definition.allPlatforms">
      <ion-label>
        <h3>Nástupiště {{ platform.name }}</h3>
        <p>{{ getPlatformDirections(platform) }}</p>
      </ion-label>
      <ion-toggle slot="end" [(ngModel)]="definition.platforms[platform.id]" (ngModelChange)="save()"></ion-toggle>
    </ion-item>
  </ion-list>

  <!-- <ion-list *ngIf="definition.name">
  <ion-item-divider>
    <ion-label>Výběr linek</ion-label>
  </ion-item-divider>
</ion-list> -->
</ion-content>
