<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>Poloha vozu</ion-title>
  </ion-toolbar>
</ion-header>
<pd-map [autoCenter]="true" [poi]="false">
  <!-- stop -->
  <pd-map-marker
    *ngIf="departurePlatform"
    [coords]="[departurePlatform.lon, departurePlatform.lat]"
    icon="🚏"
  ></pd-map-marker>

  <!-- vehicle -->
  <pd-map-marker
    *ngIf="vehiclePosition"
    [coords]="$any(vehiclePosition.geometry.coordinates)"
    [pointer]="true"
    [icon]="routeType?.icon"
    [iconDirection]="routeType?.iconDirection"
    [bearing]="vehiclePosition.properties.last_position.bearing"
  ></pd-map-marker>
</pd-map>

<ion-footer *ngIf="vehiclePosition" class="ion-padding">
  <h3>
    {{ routeType?.icon }}
    {{ vehiclePosition.properties.trip.gtfs.route_short_name }}
    ➡️ {{ vehiclePosition.properties.trip.gtfs.trip_headsign }}
  </h3>
  <table>
    <ng-container *ngIf="lastPlatform">
      <tr>
        <th>Informace ze zastávky</th>
        <th class="delay">Zpoždění</th>
      </tr>
      <tr>
        <td>{{ lastPlatform.stop.name }}</td>
        <td class="delay">{{ delayTime }}</td>
      </tr>
    </ng-container>
    <ng-container *ngIf="departurePlatform">
      <tr>
        <th *ngIf="departurePlatformType === 'user'">Vaše zastávka</th>
        <th *ngIf="departurePlatformType === 'next'">Příští zastávka</th>
        <th>Příjezd za</th>
      </tr>
      <tr>
        <td>{{ departurePlatform.stop.name }}</td>
        <td class="delay">{{ departureTime || "-" }}</td>
      </tr>
    </ng-container>
  </table>
</ion-footer>
