<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Nastavení karty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="card && cardType && cardType.settingsComponent">
    <ion-list-header>
      <ion-label>
        <h1>{{ cardType.title["cs"] }}</h1>
      </ion-label>
    </ion-list-header>

    <app-card-custom-settings
      *ngIf="card && cardType && cardType.settingsComponent"
      [card]="card!"
      (change)="saveCustom($event)"
    ></app-card-custom-settings>
  </ng-container>

  <ion-list-header>
    <ion-label><h1>Obecná nastavení</h1></ion-label>
  </ion-list-header>

  <ion-item-group *ngIf="card">
    <ion-item>
      <ion-label>Barva</ion-label>
      <ion-select [(ngModel)]="card.color" (ngModelChange)="save()">
        <ion-select-option value="white">Bílá</ion-select-option>
        <ion-select-option value="black">Černá</ion-select-option>
        <ion-select-option value="pink">Růžová</ion-select-option>
        <ion-select-option value="blue">Modrá</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item-group>

  <ion-list-header>
    <ion-label><h1>Smazat kartu</h1></ion-label>
  </ion-list-header>

  <div *ngIf="card" class="actions ion-padding">
    <ion-button color="danger" (click)="deleteCard(card.id)">Smazat kartu</ion-button>
  </div>
</ion-content>
