<ion-searchbar [(ngModel)]="search" (ionChange)="loadContainers()" debounce="250"></ion-searchbar>

<ion-list>
  <ion-item *ngFor="let container of containers" (click)="onSelect(container)">
    <ion-label>
      <h2>{{ container.location }}</h2>
      <p>
        <ng-container *ngFor="let type of container.containerTypes; let isLast = last"
          >{{ getContainerTypeTitle(type, lang) }}<ng-container *ngIf="!isLast">, </ng-container></ng-container
        >
      </p>
    </ion-label>
  </ion-item>
</ion-list>
