<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>
      {{ name || "Načítám..." }}
      <ion-icon *ngIf="!card?.definition?.name" name="locate"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="card" [routerLink]="['/public-transport/departure-boards/card', card.id, 'settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="card">
  <ion-refresher slot="fixed" (ionRefresh)="loadDepartures($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!loading && departureBoard">
    <ion-item
      *ngFor="let departure of departureBoard.departures"
      (click)="openDeparture(departure)"
      [button]="hasDetail(departure)"
      [detail]="hasDetail(departure) && !departure.trip.is_canceled"
      class="departure"
      [class.at-stop]="departure.trip.is_at_stop"
      [class.is-cancelled]="departure.trip.is_canceled"
    >
      <ion-avatar slot="start">
        <div class="circle" [ngStyle]="departure | departureStyle">
          <div class="text">{{ departure.route.short_name }}</div>
        </div>
      </ion-avatar>

      <ion-label class="headsign">
        <h2>
          {{ departure.trip.headsign }}
          <ng-container *ngIf="card.definition.showWheelchairAccessible && departure.trip.is_wheelchair_accessible">
            ♿
          </ng-container>
        </h2>
      </ion-label>

      <ion-label *ngIf="!departure.trip.is_canceled" class="time" slot="end" [class.no-detail]="!hasDetail(departure)">
        {{ departure | departureTime : card.definition }}
        <br />
        <ion-text class="delay" [color]="departure | departureDelayColor">
          {{ departure | departureDelay : card.definition }}
        </ion-text>
      </ion-label>
      <ion-label *ngIf="departure.trip.is_canceled" class="time no-detail" slot="end">
        <ion-text class="departureTime">{{ departure | departureTime : card.definition }}</ion-text>
        <br />
        <ion-text class="delay" color="danger"> zrušeno </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="loading">
    <ion-item *ngFor="let item of loadingArray">
      <ion-avatar slot="start"><ion-skeleton-text></ion-skeleton-text></ion-avatar>
      <ion-title><ion-skeleton-text></ion-skeleton-text></ion-title>
    </ion-item>
  </ion-list>

  <p *ngIf="!loading && !departureBoard" class="ion-padding">Pro zastávku {{ name }} nebyly nalezeny žádné odjezdy.</p>

  <ion-infinite-scroll [disabled]="!departureBoard" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
