<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="light"> PragueDash </ion-title>
    <ion-buttons slot="primary">
      <ion-button id="add-button" color="light">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-popover trigger="add-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item routerLink="/dash/add-card" [button]="true" [detail]="false">
                <ion-label>Přidat kartu</ion-label>
                <ion-icon name="add-outline"></ion-icon>
              </ion-item>
              <ion-item routerLink="/dash/add-card" [button]="true" [detail]="false">
                <ion-label>Přidat stránku</ion-label>
                <ion-icon name="reader-outline"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-button color="light" routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <app-dash-card *ngFor="let cardData of cards" [card]="cardData" (click)="openDetail(cardData)"> </app-dash-card>
</ion-content>
