:host {
  background-image: url("~src/assets/img/bg.jpg");
  background-size: cover;
  background-position: center;
}

::ng-deep {
  .swiper {
    height: 100%;
  }
  .swiper-slide {
    display: block !important;
    height: 100%;
  }
}

ion-content,
ion-toolbar {
  --background: transparent;
}

ion-slides {
  height: 100%;
}

ion-slide {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.page {
  position: relative;
  text-align: left;
  .title {
    text-align: center;
    font-size: 0.8em;
    color: #eee;
  }
}
